@font-face {
  font-family: 'hf-icons';
  src: url('../assets/fonts/hf-icons.eot?7644354');
  src: url('../assets/fonts/hf-icons.eot?7644354#iefix') format('embedded-opentype'),
       url('../assets/fonts/hf-icons.woff2?7644354') format('woff2'),
       url('../assets/fonts/hf-icons.woff?7644354') format('woff'),
       url('../assets/fonts/hf-icons.ttf?7644354') format('truetype'),
       url('../assets/fonts/hf-icons.svg?7644354#hf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hf-icons';
    src: url('../font/hf-icons.svg?7644354#hf-icons') format('svg');
  }
}
*/
[class^="bi-"]:before, [class*=" bi-"]:before {
  font-family: "hf-icons";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.bi-book:before { content: '\e802'; } /* '' */
.bi-box-arrow-up-right:before { content: '\e803'; } /* '' */
.bi-building:before { content: '\e804'; } /* '' */
.bi-calendar3:before { content: '\e805'; } /* '' */
.bi-calendar-check:before { content: '\e806'; } /* '' */
.bi-calendar-heart:before { content: '\e807'; } /* '' */
.bi-calendar-plus:before { content: '\e808'; } /* '' */
.bi-calendar-week:before { content: '\e809'; } /* '' */
.bi-camera-video:before { content: '\e80a'; } /* '' */
.bi-chat-text:before { content: '\e80b'; } /* '' */
.bi-check-circle:before { content: '\e80c'; } /* '' */
.bi-clock:before { content: '\e80d'; } /* '' */
.bi-cookie:before { content: '\e80e'; } /* '' */
.bi-database:before { content: '\e80f'; } /* '' */
.bi-droplet-half:before { content: '\e810'; } /* '' */
.bi-emoji-frown:before { content: '\e811'; } /* '' */
.bi-envelope:before { content: '\e812'; } /* '' */
.bi-envelope-heart:before { content: '\e813'; } /* '' */
.bi-envelope-paper:before { content: '\e814'; } /* '' */
.bi-exclamation-circle:before { content: '\e815'; } /* '' */
.bi-exclamation-octagon:before { content: '\e816'; } /* '' */
.bi-eye:before { content: '\e817'; } /* '' */
.bi-eye-slash:before { content: '\e818'; } /* '' */
.bi-facebook:before { content: '\e819'; } /* '' */
.bi-flag:before { content: '\e81a'; } /* '' */
.bi-hand-index:before { content: '\e81b'; } /* '' */
.bi-info-circle:before { content: '\e81c'; } /* '' */
.bi-instagram:before { content: '\e81d'; } /* '' */
.bi-link-45deg:before { content: '\e81e'; } /* '' */
.bi-list:before { content: '\e81f'; } /* '' */
.bi-moon-fill:before { content: '\e820'; } /* '' */
.bi-moon-stars:before { content: '\e821'; } /* '' */
.bi-patch-check-fill:before { content: '\e822'; } /* '' */
.bi-pencil:before { content: '\e823'; } /* '' */
.bi-person:before { content: '\e824'; } /* '' */
.bi-person-badge:before { content: '\e825'; } /* '' */
.bi-person-check:before { content: '\e826'; } /* '' */
.bi-puzzle:before { content: '\e827'; } /* '' */
.bi-question-circle:before { content: '\e828'; } /* '' */
.bi-send:before { content: '\e829'; } /* '' */
.bi-server:before { content: '\e82a'; } /* '' */
.bi-shield-check:before { content: '\e82b'; } /* '' */
.bi-shield-fill-check:before { content: '\e82c'; } /* '' */
.bi-shield-lock:before { content: '\e82d'; } /* '' */
.bi-slash-circle:before { content: '\e82e'; } /* '' */
.bi-sliders:before { content: '\e82f'; } /* '' */
.bi-speedometer:before { content: '\e830'; } /* '' */
.bi-speedometer2:before { content: '\e831'; } /* '' */
.bi-stars:before { content: '\e832'; } /* '' */
.bi-sun-fill:before { content: '\e833'; } /* '' */
.bi-thermometer-sun:before { content: '\e834'; } /* '' */
.bi-translate:before { content: '\e835'; } /* '' */
.bi-trash3:before { content: '\e836'; } /* '' */
.bi-arrow-left:before { content: '\e837'; } /* '' */
.bi-arrow-up:before { content: '\e838'; } /* '' */
